//  -
//  Colors
//  ==========================================================================


//  Basic colors
//  --------------------------------------------------------------------------

$clr-black = #000000
$clr-white = #ffffff


//  Social colours
//  --------------------------------------------------------------------------

$clr-discord  = #738ADB
$clr-facebook = #3b5999
$clr-google   = #dc4e41
$clr-twich    = #9147FF
$clr-twitter  = #55acee
$clr-youtube  = #e52d27

$clr-instagram = #DD2A7B
$clr-instagram1 = #515bd4
$clr-instagram2 = #8134AF
$clr-instagram3 = #DD2A7B
$clr-instagram4 = #F58529
$clr-instagram5 = #FEDA77


//  Rainbow colours
//  --------------------------------------------------------------------------

$clr-aqua    = #7fdbff
$clr-blue    = #0074d9
$clr-fuchsia = #f012be
$clr-gray    = #aaaaaa
$clr-green   = #2ecc40
$clr-lime    = #01ff70
$clr-maroon  = #85144b
$clr-navy    = #001f3f
$clr-olive   = #3d9970
$clr-orange  = #ff851b
$clr-purple  = #b10dc9
$clr-red     = #FD0000
$clr-silver  = #dddddd
$clr-teal    = #39cccc
$clr-yellow  = #FFFF00


//  RGBA colours
//  --------------------------------------------------------------------------

$clr-dark-black  = rgba(0, 0, 0, 0.87)
$clr-dark-white  = rgba(255, 255, 255, 0.87)
$clr-faint-black = rgba(0, 0, 0, 0.12)
$clr-full-black  = rgba(0, 0, 0, 1)
$clr-full-white  = rgba(255, 255, 255, 1)
$clr-light-black = rgba(0, 0, 0, 0.54)
$clr-light-grey  = rgba(239, 239, 239, 1)
$clr-light-white = rgba(255, 255, 255, 0.54)
$clr-min-black   = rgba(0, 0, 0, 0.26)
$clr-transparent = rgba(0, 0, 0, 0)

$clr-darken-1    = rgba(0, 0, 0, 0.0625)
$clr-darken-2    = rgba(0, 0, 0, 0.125)
$clr-darken-3    = rgba(0, 0, 0, 0.25)
$clr-darken-4    = rgba(0, 0, 0, 0.5)

$clr-lighten-1   = rgba(255, 255, 255, 0.0625)
$clr-lighten-2   = rgba(255, 255, 255, 0.125)
$clr-lighten-3   = rgba(255, 255, 255, 0.25)
$clr-lighten-4   = rgba(255, 255, 255, 0.5)
