//  -
//  Colors Company
//  --------------------------------------------------------------------------

// colour of text and main colour overall
$clr-primary    = #FA9FB0
// colour of any components, backgrounds, etc.
$clr-secondary  = #292845
// special colour to complement secondary colour
$clr-tertiary   = #18181B

$clr-text      = #0F0F0F


$clr-link       = $color-primary
$clr-link-hover  = #ef5e78

$clr-btn-border = '1px solid ' + $color-primary
$clr-btn-border-color = $color-primary
$clr-btn-border-style = 'solid'
$clr-btn-border-width = 1px

$clr-btn-border-radius = 10px
$clr-btn-border-padding = '10px 15px'



//  Colors Actions
//  --------------------------------------------------------------------------

$clr-error   = #cb5234
$clr-info    = #3aa3e3
$clr-success = #2ab27b
$clr-warning = #edb431
