//  -
//  Button Variables
//  --------------------------------------------------------------------------

$btn-border-color = $color-primary
$btn-border-style = 'solid'
$btn-border-width = 1px
$btn-border-radius = 7px

$btn-padding    = 10px 20px
$btn-background  = none
