//  Media queries
//  ==========================================================================


$device-xs = 320px  // 20em
$device-sm = 480px  // 30em
$device-md = 768px  // 48em
$device-lg = 992px  // 62em
$device-xl = 1200px // 75em

$breakpoints = {
  'xs': $device-xs,
  'sm': $device-sm,
  'md': $device-md,
  'lg': $device-lg,
  'xl': $device-xl
}
