//  -
//  Typography
//  ==========================================================================

// 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$font-default        = 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$font-default-height  = '1.5'
$font-default-size    = 16px
$font-default-weight  = 400

$font-streamer = 'Secular One', sans-serif
$font-streamer-title = 'Amatic SC', cursive