button
  background: $btn-background
  border-color: $btn-border-color
  border-radius: $btn-border-radius
  border-style: $btn-border-style
  border-width: $btn-border-width
  color: $clr-text
  cursor: pointer
  padding: $btn-padding
  transition: all 0.3s ease-out

button,
button:active,
button:focus
  outline:0

button:hover
  background: $clr-secondary
  color: $clr-white
  border-color: $clr-secondary