/*------------------------------------*\
  #Settings (Variables)
\*------------------------------------*/

  @import '1-settings/_colors-base.styl'
  @import '1-settings/_colors-project.styl'
  @import '1-settings/_elements.styl'
  @import '1-settings/_queries.styl'
  @import '1-settings/_typography.styl'



/*------------------------------------*\
  #Tools (Functions, mixins etc)
\*------------------------------------*/

  // @import '2-tools/functions/main.styl'



/*------------------------------------*\
  #Generic (Reset html)
\*------------------------------------*/

  @import '3-generic/_fonts.styl';




/*------------------------------------*\
  #Elements (Tags html)
\*------------------------------------*/

  @import '4-dom/_a.styl'
  @import '4-dom/_button.styl'
  @import '4-dom/_document.styl'
  @import '4-dom/_list.styl'
  @import '4-dom/_svg.styl'
  @import '4-dom/_title.styl'